<div class="container be-white">
  <div class="row">
    <div class="col-md">
      <p>
        <strong>Titulo:</strong>
        <%= @article.titulo %>
      </p>
      <%unless @article.cover_file_name.nil?%>
        <div class="field">
          <strong>Imagen</strong>
          <br>
          <%= image_tag @article.cover.url() , class:"img-show" %>
        </div>
      <%end %>
      <p>
        <strong>Autor:</strong>
        <%= @article.autor %>
      </p>
      <p>
        <strong>Link:</strong>
        <%= @article.link %>
      </p>
    </div>
    <div class="col-md">
      <p>
        <strong>Tipo:</strong>
        <%= @article.tipo %>
      </p>
      <strong>Categoria</strong>
      <% @article.categories.each do |c| %>
        <%= c.nombre %>
      <%end %>

      <p>
        <strong>Resumen:</strong>
        <br>
        <%= @article.resumen %>
      </p>
      <div class="field">
        <a href="<%= @article.document %>" target="_blank">pdf</a>
      </div>
    </div>
  </div>






  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>

</div>
