<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @article.titulo %>
</p>
<div class="field">
  <%= image_tag @article.cover.url() %>
</div>
<p>
  <strong>Autor:</strong>
  <%= @article.autor %>
</p>

<p>
  <strong>Link:</strong>
  <%= @article.link %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @article.tipo %>
</p>
<% @article.categories.each do |c| %>
  <%= c.nombre %>
<%end %>

<p>
  <strong>Resumen:</strong>
  <%= @article.resumen %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
