<% articulo ||= "article" %>
<div class="card">
  <%unless articulo.cover_file_name.nil?%>
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag articulo.cover.url() %>
    </div>
  <%else%>
    <%= render "partials/imgInformaTec" %>
  <%end %>
  <div class="card-content">
    <span class="card-title  grey-text text-darken-4"><%= articulo.titulo %></span>
    <p>Autor: <%= articulo.autor %></p>
    <p>Tipo: <%= articulo.tipo %></p>
    <p><i class="fa fa-book activator" aria-hidden="true"> Ver resumen</i></p>
    <p><a href="<%= articulo.link  %>" target="_blank">Enlace a: <%= articulo.titulo %></a></p>
      <div class="link row around-xs middle-xs margen">
        <%= link_to 'Ver', articulo %>
        <%if user_signed_in? %>
          <%= link_to 'Editar', edit_article_path(articulo) %>
          <%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end %>
      </div>
  </div>
  <div class="card-reveal">
    <div class="row around-xs">
      <span class="card-title grey-text text-darken-4">Card Title</span>
      <i class="fa fa-times card-title" aria-hidden="true"></i>
    </div>
    <p><%= articulo.resumen %></p>
  </div>
</div>
